<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title><%= title %></title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css">
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.3.1/css/ol.css"
          type="text/css">
    <link href="https://cdn.jsdelivr.net/npm/ol-geocoder@latest/dist/ol-geocoder.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css"/>
</head>
<body>
<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="/">
            <h1><%= title %></h1>
        </a>
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>
    <div class="navbar-menu">
        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons is-centered">
                    <a class="button is-outlined" id="open-parking-spaces-button">
                    <span class="icon">
                        <i class="fas fa-parking"></i>
                    </span>
                        <span>Parking Spaces</span>
                    </a>
                    <a class="button is-outlined" id="open-chat-button">
                    <span class="icon">
                        <i class="fas fa-comments"></i>
                    </span>
                        <span>Chat</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>