<%- include ("./partials/head.ejs") %>
<aside id="chat">
    <p class="menu-label side-menu-title">
        Chat
    </p>
    <a class="button is-small is-outlined is-danger close-side-button" id="close-chat-button">
        <span class="icon is-medium">
            <i class="fas fa-times-circle"></i>
        </span>
    </a>
    <div class="container is-fluid" id="chat-container">
        <div class="field is-grouped is-grouped-multiline">
            <p class="control">
                <a class="button">
                    Centrum
                </a>
            </p>
            <p class="control">
                <a class="button">
                    Nieuw-West
                </a>
            </p>
            <p class="control">
                <a class="button">
                    Noord
                </a>
            </p>
            <p class="control">
                <a class="button">
                    Oost
                </a>
            </p>
            <p class="control">
                <a class="button">
                    West
                </a>
            </p>
            <p class="control">
                <a class="button">
                    Zuid
                </a>
            </p>
            <p class="control">
                <a class="button">
                    Zuidoost
                </a>
            </p>
        </div>
        <div class="container box" id="chatbox">
            <div class="tile-header">
                <h1 class="title is-4">Room</h1>
                <h1 class="subtitle is-6">Centrum</h1>
            </div>
            <hr>
            <ul id="messages"></ul>
        </div>
        <form id="chat-bar" action="">
            <div class="field has-addons">
                <div class="control is-expanded">
                    <input class="input" type="text" id="m" autocomplete="off" placeholder="Enter a message" required/>
                </div>
                <div class="control">
                    <a class="button is-primary">Send</a>
                </div>
            </div>
        </form>
    </div>
</aside>

<aside id="parking-spaces">
    <p class="menu-label side-menu-title">
        Parking Spaces
    </p>
    <a class="button is-small is-outlined is-danger close-side-button" href="#" id="close-parking-spaces-button">
        <span class="icon is-medium">
            <i class="fas fa-times-circle"></i>
        </span>
    </a>
    <div class="container is-fluid" id="parking-space-available-container">
    </div>
</aside>

<div id="map-container">
    <div id="map" class="map"></div>
    <div id="parking-space-info" class="notification content">
        <button id="parking-space-info-dismiss" class="delete"></button>
        <p id="parking-space-info-title" class="title"></p>
        <p id="parking-space-info-subtitle" class="subtitle"></p>
        <img id="parking-space-info-thumb" src="https://bulma.io/images/placeholders/128x128.png"
             alt="Parking Space Thumbnail">
        <p id="parking-space-info-content"></p>
        <button id="parking-space-claim-button" class="button is-medium is-fullwidth is-primary">Claim</button>
        <button id="parking-space-unclaim-button" class="button is-medium is-fullwidth is-danger">Unclaim</button>
    </div>
</div>

<div class="lds-ripple" id="loader"><div></div><div></div></div>

<script src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.3.1/build/ol.js"></script>
<script src="https://cdn.jsdelivr.net/npm/ol-geocoder"></script>
<script src="/socket.io/socket.io.js"></script>
<script type="module" src="/js/app.js"></script>
<%- include ("./partials/footer.ejs") %>