<%- include ("./partials/head.ejs") %>

<div class="container" id="map-container">
    <div id="map" class="map"></div>
</div>

<!--<div class="container is-fluid" id="chatbox">-->
<!--    <h2>Enter message here</h2>-->
<!--    <ul id="messages"></ul>-->
<!--    <form id="chat-bar" action="">-->
<!--        <input id="m" autocomplete="off" placeholder="Enter a message" required/>-->
<!--        <button>SEND</button>-->
<!--    </form>-->
<!--</div>-->

<script src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.3.1/build/ol.js"></script>
<script src="https://cdn.jsdelivr.net/npm/ol-geocoder"></script>
<script src="/socket.io/socket.io.js"></script>
<script type="module" src="/js/app.js"></script>
<%- include ("./partials/footer.ejs") %>