* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Roboto, Helvetica, Arial, sans-serif;
}

form {
    display: flex;
    padding: 16px;
    position: fixed;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -4px 4px -4px #333;
}

form input {
    padding: 8px;
    width: 90%;
    margin-right: .5%;
    border-width: 0 0 2px;
    border-color: lightgrey;
    transition: all 0.25s ease-in-out;
    outline: none;
}

form input:focus {
    border-color: grey;
}

form input:valid {
    border-color: #6dd5ed;
}

form button {
    width: 10%;
    background: linear-gradient(135deg, #2193b0 , #6dd5ed);
    border: none;
    padding: 8px;
    border-radius: 4px;
    font-weight: bold;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    font-size: 8pt;
}

header {
    padding: 16px;
    background-image: linear-gradient(to bottom right, #2193b0 , #6dd5ed);
    text-align: center;
}

#messages {
    list-style-type: none;
    margin: 0;
    padding: 0 0 64px;
    transition: all 0.25s ease-in-out;
}

#messages * {
    padding: 12px;
    margin: 4px;
    transition: all 0.25s ease-in-out;
    background: whitesmoke;
    border-radius: 8px;
}
